<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/services.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul class="li_logo">
                <img src="../img/home.png" alt="">
                <h1>Paw +</h1>
            </ul>
            <ul class="li_items">
                <li>Home</li>
                <li>Services</li>
                <li>Blog</li>
                <li>Contact us</li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Service</h1>
        <article>
            <div class="card">
                <img src="../img/image 11.png" alt="">
                <p>Dog grooming</p>
            </div>

            <div class="card">
                <img src="../img/image 8.png" alt="">
                <p>General inquiries</p>
            </div>

            <div class="card">
                <img src="../img/image 12.png" alt="">
                <p>Specialized consultations</p>
            </div>

            <div class="card">
                <img src="../img/image 10.png" alt="">
                <p>Clinical laboratory</p>
            </div>

            <div class="card">
                <img src="../img/image 9.png" alt="">
                <p>Imaging</p>
            </div>

            <div class="card">
                <img src="../img/image 7.png" alt="">
                <p>Vaccinations</p>
            </div>
        </article>
    </main>

    <footer>
        <div>
            <div>
                <p>Our networks:</p>
                <div class="footer_item">
                    <img src="../img/call.png" alt="">
                    <p>(+57) 323 369 5028</p>
                </div>
                <div class="footer_item">
                    <img src="../img/gmail.png" alt="">
                    <p>customerservice@pawmore.com.co</p>
                </div>
            </div>
        </div>


        <div class="line"></div>

        <div>
            <div><p>Information: </p></div>
            <div>
                <div class="footer_item">
                    <img src="" alt="">
                    <p>Frequently Asked Questions About Animal Care</p></div>
                </div>
        </div>
    </footer>
</body>
</html>